# Compilados
*.o
*.a
*.so
*.out
minishell

# Archivos de configuración de compilador y generados por el sistema
*.log
*.tmp
*.swp
*.swo
*.DS_Store

# Archivos específicos de editor
.vscode/
*.code-workspace
