# Compilados
*.o
*.a
*.so
*.out
minishell
minishell_bonus

# Archivos de configuración de compilador y generados por el sistema
*.log
*.tmp
*.swp
*.swo
*.DS_Store

# Archivos específicos de editor
.vscode/
*.code-workspace

# Informacion en notas o subject
*.pdf
*.txt
*.md

!README.md
