# Ignorar todo
*

# Permitir .gitignore y otros archivos específicos
#!.gitignore
!/.github/*
!Makefile

# Permitir la carpeta libft y archivos específicos dentro de ella
#!/libft/
#!/libft/Makefile
#!/libft/libft.h
#!/libft/ft_*.c

# Permitir la carpeta src y archivos .c en ella
!/src/
!/src/*.c

# Permitir la carpeta include y archivos .h en ella
!/include/
!/include/*.h

# Permitir la carpeta bonus y archivos *_bonus.c en ella
!/bonus/
!/bonus/*_bonus.c

# Permitir README.md
!README.md

# Permitir archivos específicos en doc
!/doc/
!/doc/*.pdf
!/doc/*.txt
!/doc/*.md
